SECRET_KEY=change_me
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,<твой_сервер_IP>

DB_ENGINE=django.db.backends.postgresql
DB_NAME=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_HOST=db
DB_PORT=5432
